# Файлы и папки операционной системы
.DS_Store
Thumbs.db
.directory

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*

# Папка с собранными файлами проекта
node_modules/
build/