.main-mistakes {
  font-size: 2em;
  font-weight: 300;
  right: 40px;
  top: 8px;
  position: absolute;
}

.error-box {
  display: flex;
  font-family: Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 100;
  background-color: rgb(20, 21, 26);
  color: gold;
  font-size: 20px;
}
